# Grafana
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin

# Postgres (para postgres-exporter)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=fundmanagement

# Redis (para redis-exporter)
REDIS_PASSWORD=
